// Custom styles.

.posts-expand {
   .post 
   {
        margin-top: 0px;
        margin-bottom: 30px;
        padding: 25px;
        -webkit-box-shadow: 0 0 5px rgba(189, 195, 199, .5);
        -moz-box-shadow: 0 0 5px rgba(251, 47, 3, .5);
  }
}
