/* normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
::selection {
  background: #262a30;
  color: #fff;
}
body {
  position: relative;
  font-family: "Microsoft YaHei", Verdana, sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #555;
  background: #f5f7f9;
}
@media (max-width: 767px) {
  body {
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding-right: 0 !important;
  }
}
@media (min-width: 1600px) {
  body {
    font-size: 18px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  font-family: Georgia, sans;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 15px;
}
h1 {
  font-size: 26px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 22px;
  }
}
h2 {
  font-size: 24px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 20px;
  }
}
h3 {
  font-size: 22px;
}
@media (max-width: 767px) {
  h3 {
    font-size: 18px;
  }
}
h4 {
  font-size: 20px;
}
@media (max-width: 767px) {
  h4 {
    font-size: 16px;
  }
}
h5 {
  font-size: 18px;
}
@media (max-width: 767px) {
  h5 {
    font-size: 14px;
  }
}
h6 {
  font-size: 16px;
}
@media (max-width: 767px) {
  h6 {
    font-size: 12px;
  }
}
p {
  margin: 0 0 20px 0;
}
a {
  color: #555;
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid #999;
  word-wrap: break-word;
}
a:hover {
  color: #222;
  border-bottom-color: #222;
}
blockquote {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
hr {
  margin: 40px 0;
  height: 3px;
  border: none;
  background-color: #ddd;
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
}
blockquote {
  padding: 0 15px;
  color: #666;
  border-left: 4px solid #ddd;
}
blockquote cite::before {
  content: "-";
  padding: 0 5px;
}
dt {
  font-weight: 700;
}
dd {
  margin: 0;
  padding: 0;
}
kbd {
  border: 1px solid #ccc;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  font-family: inherit;
  background-image: -webkit-linear-gradient(top, #eee, #fff, #eee);
  padding: 0.1em 0.3em;
  white-space: nowrap;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pullquote {
  width: 45%;
}
.pullquote.left {
  float: left;
  margin-left: 5px;
  margin-right: 10px;
}
.pullquote.right {
  float: right;
  margin-left: 10px;
  margin-right: 5px;
}
.affix.affix.affix {
  position: fixed;
}
.translation {
  margin-top: -20px;
  font-size: 14px;
  color: #999;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
.use-motion .motion-element {
  opacity: 0;
}
table {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-size: 14px;
  table-layout: fixed;
  word-wrap: break-all;
}
table>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table>tbody>tr:hover {
  background-color: #f5f5f5;
}
caption,
th,
td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}
th,
td {
  border-bottom: 3px solid #ddd;
  border-right: 1px solid #eee;
}
th {
  padding-bottom: 10px;
  font-weight: 700;
}
td {
  border-bottom-width: 1px;
}
html,
body {
  height: 100%;
}
.container {
  position: relative;
  min-height: 100%;
}
.header-inner {
  margin: 0 auto;
  padding: 100px 0 70px;
  width: 700px;
}
@media (min-width: 1600px) {
  .container .header-inner {
    width: 900px;
  }
}
.main {
  padding-bottom: 150px;
}
.main-inner {
  margin: 0 auto;
  width: 700px;
}
@media (min-width: 1600px) {
  .container .main-inner {
    width: 900px;
  }
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 50px;
}
.footer-inner {
  box-sizing: border-box;
  margin: 20px auto;
  width: 700px;
}
@media (min-width: 1600px) {
  .container .footer-inner {
    width: 900px;
  }
}
pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 14px;
  color: #eaeaea;
  background: #000;
  line-height: 1.6;
}
pre,
code {
  font-family: "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace;
}
code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: #555;
  background: #eee;
  border-radius: 3px;
  font-size: 14px;
}
pre {
  padding: 10px;
}
pre code {
  padding: 0;
  color: #eaeaea;
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 1px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #eaeaea;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: " ";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
  color: #eaeaea;
}
.highlight figcaption a:hover {
  border-bottom-color: #eaeaea;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  text-align: right;
  background-color: #292929;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000;
}
.highlight .line {
  height: 20px;
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #008000;
}
pre .addition {
  background: #800000;
}
pre .meta {
  color: #c397d8;
}
pre .comment {
  color: #969896;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #d54e53;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #e78c45;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: #b9ca4a;
}
pre .title,
pre .css .hexcolor {
  color: #70c0b1;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #7aa6da;
}
pre .keyword,
pre .javascript .function {
  color: #c397d8;
}
.full-image.full-image.full-image.full-image {
  border: none;
  max-width: 100%;
  width: auto;
  margin: 20px auto 25px;
}
@media (min-width: 992px) {
  .full-image.full-image.full-image.full-image {
    max-width: none;
    width: 118%;
    margin: 0 -9%;
  }
}
.blockquote-center,
.page-home .post-type-quote blockquote,
.page-post-detail .post-type-quote blockquote {
  position: relative;
  margin: 40px 0;
  padding: 0;
  border-left: none;
  text-align: center;
}
.blockquote-center::before,
.page-home .post-type-quote blockquote::before,
.page-post-detail .post-type-quote blockquote::before,
.blockquote-center::after,
.page-home .post-type-quote blockquote::after,
.page-post-detail .post-type-quote blockquote::after {
  position: absolute;
  content: ' ';
  display: block;
  width: 100%;
  height: 24px;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 0 -6px;
  background-size: 22px 22px;
}
.blockquote-center::before,
.page-home .post-type-quote blockquote::before,
.page-post-detail .post-type-quote blockquote::before {
  top: -20px;
  background-image: url("../images/quote-l.svg");
  border-top: 1px solid #ccc;
}
.blockquote-center::after,
.page-home .post-type-quote blockquote::after,
.page-post-detail .post-type-quote blockquote::after {
  bottom: -20px;
  background-image: url("../images/quote-r.svg");
  border-bottom: 1px solid #ccc;
  background-position: 100% 8px;
}
.blockquote-center p,
.page-home .post-type-quote blockquote p,
.page-post-detail .post-type-quote blockquote p,
.blockquote-center div,
.page-home .post-type-quote blockquote div,
.page-post-detail .post-type-quote blockquote div {
  text-align: center;
}
.post .post-body .group-picture img {
  box-sizing: border-box;
  padding: 0 3px;
  border: none;
}
.post .group-picture-row {
  overflow: hidden;
  margin-top: 6px;
}
.post .group-picture-row:first-child {
  margin-top: 0;
}
.post .group-picture-column {
  float: left;
}
.page-post-detail .post-body .group-picture-column {
  float: none;
  margin-top: 10px;
  width: auto !important;
}
.page-post-detail .post-body .group-picture-column img {
  margin: 0 auto;
}
.page-archive .group-picture-container {
  overflow: hidden;
}
.page-archive .group-picture-row {
  float: left;
}
.page-archive .group-picture-row:first-child {
  margin-top: 6px;
}
.page-archive .group-picture-column {
  max-width: 150px;
  max-height: 150px;
}
.post-body .note {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  border: initial;
  border-left: 3px solid #eee;
  background-color: #f9f9f9;
  border-radius: 3px;
}
.post-body .note h2,
.post-body .note h3,
.post-body .note h4,
.post-body .note h5,
.post-body .note h6 {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: initial;
  padding-top: 0 !important;
}
.post-body .note p:first-child,
.post-body .note ul:first-child,
.post-body .note ol:first-child,
.post-body .note table:first-child,
.post-body .note pre:first-child,
.post-body .note blockquote:first-child {
  margin-top: 0;
}
.post-body .note p:last-child,
.post-body .note ul:last-child,
.post-body .note ol:last-child,
.post-body .note table:last-child,
.post-body .note pre:last-child,
.post-body .note blockquote:last-child {
  margin-bottom: 0;
}
.post-body .note.default {
  background-color: #f7f7f7;
  border-left-color: #777;
}
.post-body .note.default h2,
.post-body .note.default h3,
.post-body .note.default h4,
.post-body .note.default h5,
.post-body .note.default h6 {
  color: #777;
}
.post-body .note.primary {
  background-color: #f5f0fa;
  border-left-color: #6f42c1;
}
.post-body .note.primary h2,
.post-body .note.primary h3,
.post-body .note.primary h4,
.post-body .note.primary h5,
.post-body .note.primary h6 {
  color: #6f42c1;
}
.post-body .note.info {
  background-color: #eef7fa;
  border-left-color: #428bca;
}
.post-body .note.info h2,
.post-body .note.info h3,
.post-body .note.info h4,
.post-body .note.info h5,
.post-body .note.info h6 {
  color: #428bca;
}
.post-body .note.success {
  background-color: #eff8f0;
  border-left-color: #5cb85c;
}
.post-body .note.success h2,
.post-body .note.success h3,
.post-body .note.success h4,
.post-body .note.success h5,
.post-body .note.success h6 {
  color: #5cb85c;
}
.post-body .note.warning {
  background-color: #fdf8ea;
  border-left-color: #f0ad4e;
}
.post-body .note.warning h2,
.post-body .note.warning h3,
.post-body .note.warning h4,
.post-body .note.warning h5,
.post-body .note.warning h6 {
  color: #f0ad4e;
}
.post-body .note.danger {
  background-color: #fcf1f2;
  border-left-color: #d9534f;
}
.post-body .note.danger h2,
.post-body .note.danger h3,
.post-body .note.danger h4,
.post-body .note.danger h5,
.post-body .note.danger h6 {
  color: #d9534f;
}
.post-body .label {
  display: inline;
  padding: 0 2px;
  white-space: nowrap;
}
.post-body .label.default {
  background-color: #f0f0f0;
}
.post-body .label.primary {
  background-color: #efe6f7;
}
.post-body .label.info {
  background-color: #e5f2f8;
}
.post-body .label.success {
  background-color: #e7f4e9;
}
.post-body .label.warning {
  background-color: #fcf6e1;
}
.post-body .label.danger {
  background-color: #fae8eb;
}
.post-body .tabs {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-top: 10px;
}
.post-body .tabs ul.nav-tabs {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: -1px;
}
@media (max-width: 413px) {
  .post-body .tabs ul.nav-tabs {
    display: block;
    margin-bottom: 5px;
  }
}
.post-body .tabs ul.nav-tabs li.tab {
  list-style-type: none !important;
  margin: 0 0.25em 0 0;
  border-top: 3px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
@media (max-width: 413px) {
  .post-body .tabs ul.nav-tabs li.tab {
    margin: initial;
    border-top: 1px solid transparent;
    border-left: 3px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}
.post-body .tabs ul.nav-tabs li.tab a {
  outline: 0;
  border-bottom: initial;
  display: block;
  line-height: 1.8em;
  padding: 0.25em 0.75em;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
.post-body .tabs ul.nav-tabs li.tab a i {
  width: 1.285714285714286em;
}
.post-body .tabs ul.nav-tabs li.tab.active {
  border-top: 3px solid #fc6423;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
}
@media (max-width: 413px) {
  .post-body .tabs ul.nav-tabs li.tab.active {
    border-top: 1px solid #ddd;
    border-left: 3px solid #fc6423;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}
.post-body .tabs ul.nav-tabs li.tab.active a {
  cursor: default;
  color: #555;
}
.post-body .tabs .tab-content {
  background-color: #fff;
}
.post-body .tabs .tab-content .tab-pane {
  border: 1px solid #ddd;
  padding: 20px 20px 0 20px;
}
.post-body .tabs .tab-content .tab-pane:not(.active) {
  display: none !important;
}
.post-body .tabs .tab-content .tab-pane.active {
  display: block !important;
}
.btn {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  color: #555;
  background: #fff;
  border: 2px solid #555;
  text-decoration: none;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  line-height: 2;
}
.btn:hover {
  border-color: #222;
  color: #fff;
  background: #222;
}
.btn +.btn {
  margin: 0 0 8px 8px;
}
.btn .fa-fw {
  width: 1.285714285714286em;
  text-align: left;
}
.btn-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #555;
  border-radius: 1px;
}
.btn-bar+.btn-bar {
  margin-top: 4px;
}
.pagination {
  margin: 120px 0 40px;
  text-align: center;
  border-top: 1px solid #eee;
}
.page-number-basic,
.pagination .prev,
.pagination .next,
.pagination .page-number,
.pagination .space {
  display: inline-block;
  position: relative;
  top: -1px;
  margin: 0 10px;
  padding: 0 11px;
}
@media (max-width: 767px) {
  .page-number-basic,
  .pagination .prev,
  .pagination .next,
  .pagination .page-number,
  .pagination .space {
    margin: 0 5px;
  }
}
.pagination .prev,
.pagination .next,
.pagination .page-number {
  border-bottom: 0;
  border-top: 1px solid #eee;
  transition-property: border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.pagination .prev:hover,
.pagination .next:hover,
.pagination .page-number:hover {
  border-top-color: #222;
}
.pagination .space {
  padding: 0;
  margin: 0;
}
.pagination .prev {
  margin-left: 0;
}
.pagination .next {
  margin-right: 0;
}
.pagination .page-number.current {
  color: #fff;
  background: #ccc;
  border-top-color: #ccc;
}
@media (max-width: 767px) {
  .pagination {
    border-top: none;
  }
  .pagination .prev,
  .pagination .next,
  .pagination .page-number {
    margin-bottom: 10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
  }
  .pagination .prev:hover,
  .pagination .next:hover,
  .pagination .page-number:hover {
    border-bottom-color: #222;
  }
}
.comments {
  margin: 60px 20px 0;
}
.tag-cloud {
  text-align: center;
}
.tag-cloud a {
  display: inline-block;
  margin: 10px;
}
.back-to-top {
  box-sizing: border-box;
  position: fixed;
  bottom: -100px;
  right: 30px;
  z-index: 1050;
  padding: 0 6px;
  width: 24px;
  background: #222;
  font-size: 12px;
  opacity: 0.6;
  color: #fff;
  cursor: pointer;
  text-align: center;
  -webkit-transform: translateZ(0);
  transition-property: bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
@media (min-width: 768px) and (max-width: 991px) {
  .back-to-top {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .back-to-top {
    display: none !important;
  }
}
.back-to-top.back-to-top-on {
  bottom: 30px;
}
.header {
  background: transparent;
}
.header-inner {
  position: relative;
}
.headband {
  height: 3px;
  background: #222;
}
.site-meta {
  margin: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .site-meta {
    text-align: center;
  }
}
.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  background: #222;
  border-bottom: none;
}
.brand:hover {
  color: #fff;
}
.logo {
  display: inline-block;
  margin-right: 5px;
  line-height: 36px;
  vertical-align: top;
}
.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 38px;
  font-weight: normal;
  font-family: 'Times New Roman', 'Microsoft YaHei', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.site-subtitle {
  margin-top: 10px;
  font-size: 13px;
  color: #ddd;
}
.use-motion .brand {
  opacity: 0;
}
.use-motion .logo,
.use-motion .site-title,
.use-motion .site-subtitle {
  opacity: 0;
  position: relative;
  top: -10px;
}
.site-nav-toggle {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
@media (max-width: 767px) {
  .site-nav-toggle {
    display: block;
  }
}
.site-nav-toggle button {
  margin-top: 2px;
  padding: 9px 10px;
  background: transparent;
  border: none;
}
@media (max-width: 767px) {
  .site-nav {
    display: none;
    margin: 0 -10px;
    padding: 0 10px;
    clear: both;
    border-top: 1px solid #ddd;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-nav {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .site-nav {
    display: block !important;
  }
}
.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}
.menu .menu-item {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .menu .menu-item {
    margin-top: 10px;
  }
}
.menu .menu-item a {
  display: block;
  font-size: 13px;
  line-height: inherit;
  border-bottom: 1px solid transparent;
  transition-property: border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.menu .menu-item a:hover,
.menu-item-active a {
  border-bottom-color: #222;
}
.menu .menu-item .fa {
  margin-right: 5px;
}
.use-motion .menu-item {
  opacity: 0;
}
.post-body {
  font-family: 'Microsoft YaHei', "PingFang SC", "Microsoft YaHei", sans-serif;
}
@media (max-width: 767px) {
  .post-body {
    word-break: break-word;
  }
}
.post-body .fancybox img {
  display: block !important;
  margin: 0 auto;
  cursor: pointer;
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}
.post-body .image-caption,
.post-body .figure .caption {
  margin: -20px auto 15px;
  text-align: center;
  font-size: 16px;
  color: #999;
  font-weight: bold;
  line-height: 1;
}
.post-sticky-flag {
  display: inline-block;
  font-size: 16px;
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.use-motion .post-block,
.use-motion .pagination,
.use-motion .comments {
  opacity: 0;
}
.use-motion .post-header {
  opacity: 0;
}
.use-motion .post-body {
  opacity: 0;
}
.use-motion .collection-title {
  opacity: 0;
}
.posts-expand {
  padding-top: 40px;
}
@media (max-width: 767px) {
  .posts-expand {
    margin: 0 20px;
  }
  .post-body pre .gutter pre {
    padding-right: 10px;
  }
  .post-body .highlight {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
  }
  .post-body .highlight .gutter pre {
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .posts-expand .post-body {
    text-align: justify;
  }
}
.posts-expand .post-body h2,
.posts-expand .post-body h3,
.posts-expand .post-body h4,
.posts-expand .post-body h5,
.posts-expand .post-body h6 {
  padding-top: 10px;
}
.posts-expand .post-body h2 .header-anchor,
.posts-expand .post-body h3 .header-anchor,
.posts-expand .post-body h4 .header-anchor,
.posts-expand .post-body h5 .header-anchor,
.posts-expand .post-body h6 .header-anchor {
  float: right;
  margin-left: 10px;
  color: #ccc;
  border-bottom-style: none;
  visibility: hidden;
}
.posts-expand .post-body h2 .header-anchor:hover,
.posts-expand .post-body h3 .header-anchor:hover,
.posts-expand .post-body h4 .header-anchor:hover,
.posts-expand .post-body h5 .header-anchor:hover,
.posts-expand .post-body h6 .header-anchor:hover {
  color: inherit;
}
.posts-expand .post-body h2:hover .header-anchor,
.posts-expand .post-body h3:hover .header-anchor,
.posts-expand .post-body h4:hover .header-anchor,
.posts-expand .post-body h5:hover .header-anchor,
.posts-expand .post-body h6:hover .header-anchor {
  visibility: visible;
}
.posts-expand .post-body ul li {
  list-style: circle;
}
.posts-expand .post-body img {
  box-sizing: border-box;
  margin: auto;
  padding: 3px;
  border: 1px solid #ddd;
}
.posts-expand .post-body .fancybox img {
  margin: 0 auto 25px;
}
@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;
  }
  .posts-collapse .post-title,
  .posts-collapse .post-meta {
    display: block;
    width: auto;
    text-align: left;
  }
}
.posts-collapse {
  position: relative;
  z-index: 1010;
  margin-left: 55px;
}
.posts-collapse::after {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #f5f5f5;
  z-index: -1;
}
@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;
  }
}
.posts-collapse .collection-title {
  position: relative;
  margin: 60px 0;
}
.posts-collapse .collection-title h1,
.posts-collapse .collection-title h2 {
  margin-left: 20px;
}
.posts-collapse .collection-title small {
  color: #bbb;
  margin-left: 5px;
}
.posts-collapse .collection-title::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
}
.posts-collapse .post {
  margin: 30px 0;
}
.posts-collapse .post-header {
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: border;
  border-bottom: 1px dashed #ccc;
}
.posts-collapse .post-header::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  margin-left: -4px;
  background: #bbb;
  border-radius: 50%;
  border: 1px solid #fff;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: background;
}
.posts-collapse .post-header:hover {
  border-bottom-color: #666;
}
.posts-collapse .post-header:hover::before {
  background: #222;
}
.posts-collapse .post-meta {
  position: absolute;
  font-size: 12px;
  left: 20px;
  top: 5px;
}
.posts-collapse .post-comments-count {
  display: none;
}
.posts-collapse .post-title {
  margin-left: 60px;
  font-size: 16px;
  font-weight: normal;
  line-height: inherit;
}
.posts-collapse .post-title::after {
  margin-left: 3px;
  opacity: 0.6;
}
.posts-collapse .post-title a {
  color: #666;
  border-bottom: none;
}
.page-home .post-type-quote .post-header,
.page-post-detail .post-type-quote .post-header,
.page-home .post-type-quote .post-tags,
.page-post-detail .post-type-quote .post-tags {
  display: none;
}
.posts-expand .post-title {
  text-align: center;
  word-break: break-word;
  font-weight: 400;
}
.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: #f00;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;
}
.posts-expand .post-title-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.posts-expand .post-title-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.posts-expand .post-title-link .fa {
  font-size: 16px;
}
.posts-expand .post-meta {
  margin: 3px 0 60px 0;
  color: #999;
  font-family: 'Microsoft YaHei', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 12px;
  text-align: center;
}
.posts-expand .post-meta .post-category-list {
  display: inline-block;
  margin: 0;
  padding: 3px;
}
.posts-expand .post-meta .post-category-list-link {
  color: #999;
}
.posts-expand .post-meta .post-description {
  font-size: 14px;
  margin-top: 2px;
}
.post-meta-divider {
  margin: 0 0.5em;
}
.post-meta-item-icon {
  margin-right: 3px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-meta-item-icon {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .post-meta-item-icon {
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-meta-item-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .post-meta-item-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .posts-expand .post-comments-count {
    display: none;
  }
}
.post-button {
  margin-top: 40px;
}
.posts-expand .post-tags {
  margin-top: 40px;
  text-align: center;
}
.posts-expand .post-tags a {
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
}
.post-nav {
  display: table;
  margin-top: 15px;
  width: 100%;
  border-top: 1px solid #eee;
}
.post-nav-divider {
  display: table-cell;
  width: 10%;
}
.post-nav-item {
  display: table-cell;
  padding: 10px 0 0 0;
  width: 45%;
  vertical-align: top;
}
.post-nav-item a {
  position: relative;
  display: block;
  line-height: 25px;
  font-size: 14px;
  color: #555;
  border-bottom: none;
}
.post-nav-item a:hover {
  color: #222;
  border-bottom: none;
}
.post-nav-item a:active {
  top: 2px;
}
.post-nav-item .fa {
  position: absolute;
  top: 8px;
  left: 0;
  font-size: 12px;
}
.post-nav-next a {
  padding-left: 15px;
}
.post-nav-prev {
  text-align: right;
}
.post-nav-prev a {
  padding-right: 15px;
}
.post-nav-prev .fa {
  right: 0;
  left: auto;
}
.posts-expand .post-eof {
  display: block;
  width: 0%;
  height: 0px;
  background: #ccc;
  text-align: center;
}
.post:last-child .post-eof.post-eof.post-eof {
  display: none;
}
.post-gallery {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}
.post-gallery-row {
  display: table-row;
}
.post-gallery .post-gallery-img {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: none;
}
.post-gallery .post-gallery-img img {
  max-width: 100%;
  max-height: 100%;
  border: none;
}
.fancybox-close,
.fancybox-close:hover {
  border: none;
}
.post-copyright {
  margin: 2em 0 0;
  padding: 0.5em 1em;
  border-left: 3px solid #ff1700;
  background-color: #f9f9f9;
  list-style: none;
}
.rtl.post-body p,
.rtl.post-body a,
.rtl.post-body h1,
.rtl.post-body h2,
.rtl.post-body h3,
.rtl.post-body h4,
.rtl.post-body h5,
.rtl.post-body h6,
.rtl.post-body li,
.rtl.post-body ul,
.rtl.post-body ol {
  direction: rtl;
  font-family: UKIJ Ekran;
}
.rtl.post-title {
  font-family: UKIJ Ekran;
}
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: 1040;
  box-shadow: inset 0 2px 6px #000;
  background: #222;
  -webkit-transform: translateZ(0);
}
.sidebar a {
  color: #999;
  border-bottom-color: #555;
}
.sidebar a:hover {
  color: #eee;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .sidebar {
    display: none !important;
  }
}
.sidebar-inner {
  position: relative;
  padding: 20px 10px;
  color: #999;
  text-align: center;
}
.site-overview-wrap {
  overflow: hidden;
}
.site-overview {
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar-toggle {
  position: fixed;
  right: 30px;
  bottom: 45px;
  width: 14px;
  height: 14px;
  padding: 5px;
  background: #222;
  line-height: 0;
  z-index: 1050;
  cursor: pointer;
  -webkit-transform: translateZ(0);
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-toggle {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .sidebar-toggle {
    display: none !important;
  }
}
.sidebar-toggle-line {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 2px;
  width: 100%;
  background: #fff;
  margin-top: 3px;
}
.sidebar-toggle-line:first-child {
  margin-top: 0;
}
.site-author-image {
  display: block;
  margin: 0 auto;
  padding: 2px;
  max-width: 120px;
  height: auto;
  border: 1px solid #eee;
}
.site-author-name {
  margin: 0;
  text-align: center;
  color: #222;
  font-weight: 600;
}
.site-description {
  margin-top: 0;
  text-align: center;
  font-size: 13px;
  color: #999;
}
.site-state {
  overflow: hidden;
  line-height: 1.4;
  white-space: nowrap;
  text-align: center;
}
.site-state-item {
  display: inline-block;
  padding: 0 15px;
  border-left: 1px solid #eee;
}
.site-state-item:first-child {
  border-left: none;
}
.site-state-item a {
  border-bottom: none;
}
.site-state-item-count {
  display: block;
  text-align: center;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
}
.site-state-item-name {
  font-size: 13px;
  color: #999;
}
.feed-link {
  margin-top: 20px;
}
.feed-link a {
  display: inline-block;
  padding: 0 15px;
  color: #fc6423;
  border: 1px solid #fc6423;
  border-radius: 4px;
}
.feed-link a i {
  color: #fc6423;
  font-size: 14px;
}
.feed-link a:hover {
  color: #fff;
  background: #fc6423;
}
.feed-link a:hover i {
  color: #fff;
}
.links-of-author {
  margin-top: 20px;
}
.links-of-author a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom-color: #555;
  font-size: 13px;
}
.links-of-author a:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  content: " ";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #496fff;
}
.links-of-blogroll {
  font-size: 13px;
}
.links-of-blogroll-title {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}
.links-of-blogroll-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.links-of-blogroll-item {
  padding: 2px 10px;
}
.links-of-blogroll-item a {
  max-width: 280px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar-nav {
  margin: 0 0 20px;
  padding-left: 0;
}
.sidebar-nav li {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  color: #555;
}
.sidebar-nav li:hover {
  color: #fc6423;
}
.page-post-detail .sidebar-nav-toc {
  padding: 0 5px;
}
.page-post-detail .sidebar-nav-overview {
  margin-left: 10px;
}
.sidebar-nav .sidebar-nav-active {
  color: #fc6423;
  border-bottom-color: #fc6423;
}
.sidebar-nav .sidebar-nav-active:hover {
  color: #fc6423;
}
.sidebar-panel {
  display: none;
}
.sidebar-panel-active {
  display: block;
}
.post-toc-empty {
  font-size: 14px;
  color: #666;
}
.post-toc-wrap {
  overflow: hidden;
}
.post-toc {
  overflow: auto;
}
.post-toc ol {
  margin: 0;
  padding: 0 2px 5px 10px;
  text-align: left;
  list-style: none;
  font-size: 14px;
}
.post-toc ol > ol {
  padding-left: 0;
}
.post-toc ol a {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  color: #666;
  border-bottom-color: #ccc;
}
.post-toc ol a:hover {
  color: #000;
  border-bottom-color: #000;
}
.post-toc .nav-item {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  white-space: nowrap;
  line-height: 1.8;
}
.post-toc .nav .nav-child {
  display: none;
}
.post-toc .nav .active > .nav-child {
  display: block;
}
.post-toc .nav .active-current > .nav-child {
  display: block;
}
.post-toc .nav .active-current > .nav-child > .nav-item {
  display: block;
}
.post-toc .nav .active > a {
  color: #fc6423;
  border-bottom-color: #fc6423;
}
.post-toc .nav .active-current > a {
  color: #fc6423;
}
.post-toc .nav .active-current > a:hover {
  color: #fc6423;
}
.footer {
  font-size: 14px;
  color: #999;
}
.footer img {
  border: none;
}
.footer-inner {
  text-align: center;
}
.with-love {
  display: inline-block;
  margin: 0 5px;
}
.powered-by,
.theme-info {
  display: inline-block;
}
.cc-license {
  margin-top: 10px;
  text-align: center;
}
.cc-license .cc-opacity {
  opacity: 0.7;
  border-bottom: none;
}
.cc-license .cc-opacity:hover {
  opacity: 0.9;
}
.cc-license img {
  display: inline-block;
}
.theme-next #ds-thread #ds-reset {
  color: #555;
}
.theme-next #ds-thread #ds-reset .ds-replybox {
  margin-bottom: 30px;
}
.theme-next #ds-thread #ds-reset .ds-replybox .ds-avatar,
.theme-next #ds-reset .ds-avatar img {
  box-shadow: none;
}
.theme-next #ds-thread #ds-reset .ds-textarea-wrapper {
  border-color: #c7d4e1;
  background: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.theme-next #ds-thread #ds-reset .ds-textarea-wrapper textarea {
  height: 60px;
}
.theme-next #ds-reset .ds-rounded-top {
  border-radius: 0;
}
.theme-next #ds-thread #ds-reset .ds-post-toolbar {
  box-sizing: border-box;
  border: 1px solid #c7d4e1;
  background: #f6f8fa;
}
.theme-next #ds-thread #ds-reset .ds-post-options {
  height: 40px;
  border: none;
  background: none;
}
.theme-next #ds-thread #ds-reset .ds-toolbar-buttons {
  top: 11px;
}
.theme-next #ds-thread #ds-reset .ds-sync {
  top: 5px;
}
.theme-next #ds-thread #ds-reset .ds-post-button {
  top: 4px;
  right: 5px;
  width: 90px;
  height: 30px;
  border: 1px solid #c5ced7;
  border-radius: 3px;
  background-image: linear-gradient(#fbfbfc, #f5f7f9);
  color: #60676d;
}
.theme-next #ds-thread #ds-reset .ds-post-button:hover {
  background-position: 0 -30px;
  color: #60676d;
}
.theme-next #ds-thread #ds-reset .ds-comments-info {
  padding: 10px 0;
}
.theme-next #ds-thread #ds-reset .ds-sort {
  display: none;
}
.theme-next #ds-thread #ds-reset li.ds-tab a.ds-current {
  border: none;
  background: #f6f8fa;
  color: #60676d;
}
.theme-next #ds-thread #ds-reset li.ds-tab a.ds-current:hover {
  background-color: #e9f0f7;
  color: #60676d;
}
.theme-next #ds-thread #ds-reset li.ds-tab a {
  border-radius: 2px;
  padding: 5px;
}
.theme-next #ds-thread #ds-reset .ds-login-buttons p {
  color: #999;
  line-height: 36px;
}
.theme-next #ds-thread #ds-reset .ds-login-buttons .ds-service-list li {
  height: 28px;
}
.theme-next #ds-thread #ds-reset .ds-service-list a {
  background: none;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  text-align: center;
}
.theme-next #ds-thread #ds-reset .ds-service-list a:hover {
  color: #fff;
  background: #666;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-weibo {
  color: #fc9b00;
  border-color: #fc9b00;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-weibo:hover {
  background: #fc9b00;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-qq {
  color: #60a3ec;
  border-color: #60a3ec;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-qq:hover {
  background: #60a3ec;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-renren {
  color: #2e7ac4;
  border-color: #2e7ac4;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-renren:hover {
  background: #2e7ac4;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-douban {
  color: #37994c;
  border-color: #37994c;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-douban:hover {
  background: #37994c;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-kaixin {
  color: #fef20d;
  border-color: #fef20d;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-kaixin:hover {
  background: #fef20d;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-netease {
  color: #f00;
  border-color: #f00;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-netease:hover {
  background: #f00;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-sohu {
  color: #ffcb05;
  border-color: #ffcb05;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-sohu:hover {
  background: #ffcb05;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-baidu {
  color: #2831e0;
  border-color: #2831e0;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-baidu:hover {
  background: #2831e0;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-google {
  color: #166bec;
  border-color: #166bec;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-google:hover {
  background: #166bec;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-weixin {
  color: #00ce0d;
  border-color: #00ce0d;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-weixin:hover {
  background: #00ce0d;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-more-services {
  border: none;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-more-services:hover {
  background: none;
}
.theme-next #ds-reset .duoshuo-ua-admin {
  display: inline-block;
  color: #f00;
}
.theme-next #ds-reset .duoshuo-ua-platform,
.theme-next #ds-reset .duoshuo-ua-browser {
  color: #ccc;
}
.theme-next #ds-reset .duoshuo-ua-platform .fa,
.theme-next #ds-reset .duoshuo-ua-browser .fa {
  display: inline-block;
  margin-right: 3px;
}
.theme-next #ds-reset .duoshuo-ua-separator {
  display: inline-block;
  margin-left: 5px;
}
.theme-next .this_ua {
  background-color: #ccc !important;
  border-radius: 4px;
  padding: 0 5px !important;
  margin: 1px 1px !important;
  border: 1px solid #bbb !important;
  color: #fff;
  display: inline-block !important;
}
.theme-next .this_ua.admin {
  background-color: #d9534f !important;
  border-color: #d9534f !important;
}
.theme-next .this_ua.platform.iOS,
.theme-next .this_ua.platform.Mac,
.theme-next .this_ua.platform.Windows {
  background-color: #39b3d7 !important;
  border-color: #46b8da !important;
}
.theme-next .this_ua.platform.Linux {
  background-color: #3a3a3a !important;
  border-color: #1f1f1f !important;
}
.theme-next .this_ua.platform.Android {
  background-color: #00c47d !important;
  border-color: #01b171 !important;
}
.theme-next .this_ua.browser.Mobile,
.theme-next .this_ua.browser.Chrome {
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}
.theme-next .this_ua.browser.Firefox {
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}
.theme-next .this_ua.browser.Maxthon,
.theme-next .this_ua.browser.IE {
  background-color: #428bca !important;
  border-color: #357ebd !important;
}
.theme-next .this_ua.browser.baidu,
.theme-next .this_ua.browser.UCBrowser,
.theme-next .this_ua.browser.Opera {
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}
.theme-next .this_ua.browser.Android,
.theme-next .this_ua.browser.QQBrowser {
  background-color: #78ace9 !important;
  border-color: #4cae4c !important;
}
.post-spread {
  margin-top: 20px;
  text-align: center;
}
.jiathis_style {
  display: inline-block;
}
.jiathis_style a {
  border: none;
}
.fa {
  font-family: FontAwesome !important;
}
.post-spread {
  margin-top: 20px;
  text-align: center;
}
.bdshare-slide-button-box a {
  border: none;
}
.bdsharebuttonbox {
  display: inline-block;
}
.bdsharebuttonbox a {
  border: none;
}
.local-search-pop-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2080;
  background-color: rgba(0,0,0,0.3);
}
.local-search-popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  height: 80%;
  padding: 0;
  background: #fff;
  color: #333;
  z-index: 9999;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .local-search-popup {
    padding: 0;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
.local-search-popup ul.search-result-list {
  padding: 0;
  margin: 0 5px;
}
.local-search-popup p.search-result {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}
.local-search-popup a.search-result-title {
  font-weight: bold;
  font-size: 16px;
}
.local-search-popup .search-keyword {
  border-bottom: 1px dashed #f00;
  font-weight: bold;
  color: #f00;
}
.local-search-popup .local-search-header {
  padding: 5px;
  height: 36px;
  background: #f5f5f5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.local-search-popup #local-search-result {
  overflow: auto;
  position: relative;
  padding: 5px 25px;
  height: calc(100% - 55px);
}
.local-search-popup .local-search-input-wrapper {
  display: inline-block;
  width: calc(100% - 90px);
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
}
.local-search-popup .local-search-input-wrapper input {
  padding: 8px 0;
  height: 20px;
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  vertical-align: middle;
}
.local-search-popup .search-icon,
.local-search-popup .popup-btn-close {
  display: inline-block;
  font-size: 18px;
  color: #999;
  height: 36px;
  width: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.local-search-popup .search-icon {
  float: left;
}
.local-search-popup .popup-btn-close {
  border-left: 1px solid #eee;
  float: right;
  cursor: pointer;
}
.local-search-popup #no-result {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ccc;
}
@media (min-width: 768px) and (max-width: 991px) {
  .busuanzi-count {
    width: auto;
  }
}
@media (max-width: 767px) {
  .busuanzi-count {
    width: auto;
  }
}
.site-uv,
.site-pv,
.page-pv {
  display: inline-block;
}
.site-uv .busuanzi-value,
.site-pv .busuanzi-value,
.page-pv .busuanzi-value {
  margin: 0 5px;
}
.site-uv {
  margin-right: 10px;
}
.site-uv::after {
  content: "|";
  padding-left: 10px;
}
.page-archive .archive-page-counter {
  position: relative;
  top: 3px;
  left: 20px;
}
@media (max-width: 767px) {
  .page-archive .archive-page-counter {
    top: 5px;
  }
}
.page-archive .posts-collapse .archive-move-on {
  position: absolute;
  top: 11px;
  left: 0;
  margin-left: -6px;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  background: #555;
  border: 1px solid #fff;
  border-radius: 50%;
}
.category-all-page .category-all-title {
  text-align: center;
}
.category-all-page .category-all {
  margin-top: 20px;
}
.category-all-page .category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-all-page .category-list-item {
  margin: 5px 10px;
}
.category-all-page .category-list-count {
  color: #bbb;
}
.category-all-page .category-list-count:before {
  display: inline;
  content: " (";
}
.category-all-page .category-list-count:after {
  display: inline;
  content: ") ";
}
.category-all-page .category-list-child {
  padding-left: 10px;
}
#schedule ul#event-list {
  padding-left: 30px;
}
#schedule ul#event-list hr {
  margin: 20px 0 45px 0 !important;
  background: #222;
}
#schedule ul#event-list hr:after {
  display: inline-block;
  content: 'NOW';
  background: #222;
  color: #fff;
  font-weight: bold;
  text-align: right;
  padding: 0 5px;
}
#schedule ul#event-list li.event {
  margin: 20px 0px;
  background: #f9f9f9;
  padding-left: 10px;
  min-height: 40px;
}
#schedule ul#event-list li.event h2.event-summary {
  margin: 0;
  padding-bottom: 3px;
}
#schedule ul#event-list li.event h2.event-summary:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 8px;
  content: '\f111';
  vertical-align: middle;
  margin-right: 25px;
  color: #bbb;
}
#schedule ul#event-list li.event span.event-relative-time {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  padding-left: 12px;
  color: #bbb;
}
#schedule ul#event-list li.event span.event-details {
  display: block;
  color: #bbb;
  margin-left: 56px;
  padding-top: 3px;
  padding-bottom: 6px;
  text-indent: -24px;
  line-height: 18px;
}
#schedule ul#event-list li.event span.event-details:before {
  text-indent: 0;
  display: inline-block;
  width: 14px;
  font-family: FontAwesome;
  text-align: center;
  margin-right: 9px;
  color: #bbb;
}
#schedule ul#event-list li.event span.event-details.event-location:before {
  content: '\f041';
}
#schedule ul#event-list li.event span.event-details.event-duration:before {
  content: '\f017';
}
#schedule ul#event-list li.event-past {
  background: #fcfcfc;
}
#schedule ul#event-list li.event-past > * {
  opacity: 0.6;
}
#schedule ul#event-list li.event-past h2.event-summary {
  color: #bbb;
}
#schedule ul#event-list li.event-past h2.event-summary:before {
  color: #dfdfdf;
}
#schedule ul#event-list li.event-now {
  background: #222;
  color: #fff;
  padding: 15px 0 15px 10px;
}
#schedule ul#event-list li.event-now h2.event-summary:before {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  color: #fff;
  animation: dot-flash 1s alternate infinite ease-in-out;
}
#schedule ul#event-list li.event-now * {
  color: #fff !important;
}
@-moz-keyframes dot-flash {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes dot-flash {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes dot-flash {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes dot-flash {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.page-post-detail .sidebar-toggle-line {
  background: #fc6423;
}
.page-post-detail .comments {
  overflow: hidden;
}
.header {
  position: relative;
  margin: 0 auto;
  width: 960px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    width: auto;
  }
}
@media (max-width: 767px) {
  .header {
    width: auto;
  }
}
.header-inner {
  position: absolute;
  top: 0;
  overflow: hidden;
  padding: 0;
  width: 240px;
  background: #fff;
  box-shadow: initial;
  border-radius: initial;
}
@media (min-width: 1600px) {
  .container .header-inner {
    width: 240px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-inner {
    position: relative;
    width: auto;
    border-radius: initial;
  }
}
@media (max-width: 767px) {
  .header-inner {
    position: relative;
    width: auto;
    border-radius: initial;
  }
}
.main:before,
.main:after {
  content: " ";
  display: table;
}
.main:after {
  clear: both;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .main {
    padding-bottom: 100px;
  }
}
.container .main-inner {
  width: 960px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container .main-inner {
    width: auto;
  }
}
@media (max-width: 767px) {
  .container .main-inner {
    width: auto;
  }
}
.content-wrap {
  float: right;
  box-sizing: border-box;
  padding: 40px;
  width: 700px;
  background: #fff;
  min-height: 700px;
  box-shadow: initial;
  border-radius: initial;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-wrap {
    width: 100%;
    padding: 20px;
    border-radius: initial;
  }
}
@media (max-width: 767px) {
  .content-wrap {
    width: 100%;
    padding: 20px;
    min-height: auto;
    border-radius: initial;
  }
}
.sidebar {
  position: static;
  float: left;
  margin-top: 300px;
  width: 240px;
  background: #f5f7f9;
  box-shadow: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    display: none;
  }
}
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
.sidebar-toggle {
  display: none;
}
.footer-inner {
  width: 960px;
  padding-left: 260px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer-inner {
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width: 767px) {
  .footer-inner {
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.sidebar-position-right .header-inner {
  right: 0;
}
.sidebar-position-right .content-wrap {
  float: left;
}
.sidebar-position-right .sidebar {
  float: right;
}
.sidebar-position-right .footer-inner {
  padding-left: 0;
  padding-right: 260px;
}
.site-brand-wrapper {
  position: relative;
}
.site-meta {
  padding: 20px 0;
  color: #fff;
  background: #222;
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-meta {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
}
@media (max-width: 767px) {
  .site-meta {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
}
.brand {
  padding: 0;
  background: none;
}
.brand:hover {
  color: #fff;
}
.site-subtitle {
  margin: 10px 10px 0;
  font-weight: initial;
}
.site-search form {
  display: none;
}
.site-nav {
  border-top: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-nav {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-nav-on {
    display: block !important;
  }
}
.menu .menu-item {
  display: block;
  margin: 0;
}
.menu .menu-item a {
  position: relative;
  box-sizing: border-box;
  padding: 5px 20px;
  text-align: left;
  line-height: inherit;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.menu .menu-item a:hover,
.menu-item-active a {
  background: #f9f9f9;
  border-bottom-color: #fff;
}
.menu .menu-item br {
  display: none;
}
.menu-item-active a:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bbb;
}
.btn-bar {
  background-color: #fff;
}
.site-nav-toggle {
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-nav-toggle {
    display: block;
  }
}
.use-motion .sidebar .motion-element {
  opacity: 1;
}
.sidebar {
  margin-left: -100%;
  right: auto;
  bottom: auto;
  -webkit-transform: none;
}
.sidebar-inner {
  box-sizing: border-box;
  width: 240px;
  color: #555;
  background: #fff;
  box-shadow: initial;
  border-radius: initial;
  opacity: 0;
}
.sidebar-inner.affix {
  position: fixed;
  top: 12px;
}
.sidebar-inner.affix-bottom {
  position: absolute;
}
.site-overview {
  text-align: left;
}
.site-author:before,
.site-author:after {
  content: " ";
  display: table;
}
.site-author:after {
  clear: both;
}
.sidebar a {
  color: #555;
}
.sidebar a:hover {
  color: #222;
}
.site-state-item {
  padding: 0 10px;
}
.links-of-author-item a:before {
  display: none;
}
.links-of-author-item a {
  border-bottom: none;
  text-decoration: underline;
}
.feed-link {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  text-align: center;
}
.feed-link a {
  display: block;
  color: #fc6423;
  border: none;
}
.feed-link a:hover {
  background: none;
  color: #e34603;
}
.feed-link a:hover i {
  color: #e34603;
}
.links-of-author {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.links-of-author-item {
  margin: 5px 0 0;
  width: 50%;
}
.links-of-author-item a {
  max-width: 216px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.links-of-author-item a {
  display: block;
  text-decoration: none;
}
.links-of-author-item a:hover {
  border-radius: 4px;
  background: #eee;
}
.links-of-author-item .fa {
  margin-right: 2px;
  font-size: 16px;
}
.links-of-author-item .fa-globe {
  font-size: 15px;
}
.links-of-blogroll {
  text-align: center;
  margin-top: 20px;
  padding: 3px 0 0;
  border-top: 1px dotted #ccc;
}
.links-of-blogroll-title {
  margin-top: 0;
}
.links-of-blogroll-item {
  padding: 0;
}
.links-of-blogroll-inline:before,
.links-of-blogroll-inline:after {
  content: " ";
  display: table;
}
.links-of-blogroll-inline:after {
  clear: both;
}
.links-of-blogroll-inline .links-of-blogroll-item {
  margin: 5px 0 0;
  width: 50%;
  display: inline-block;
  width: unset;
}
.links-of-blogroll-inline .links-of-blogroll-item a {
  max-width: 216px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 767px) {
  .post-body {
    text-align: justify;
  }
}
.posts-expand .post {
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(189,195,199,0.5);
  -moz-box-shadow: 0 0 5px rgba(251,47,3,0.5);
}
