.posts-expand .post-title {
  text-align: center;
  word-break: break-word;
  font-weight: $posts-expand-title-font-weight
}
.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: red;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    the-transition();
  }

  &:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .fa { font-size: 16px; }
}
