.posts-expand {
  .post-eof {
    display: block;
    width: 0%;
    height: 0px;
    background: $grey-light;
    text-align: center;
  }
}


.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
